# Ignore compiled PDFs (if you want to add a pdf, use `git add -f path/to/my.pdf`)
*.pdf

# Ignore model checkpoints
Code/ckpt

# Don't upload the whole dataset to the repo
PodcastFillers
*.zip

# Ignore python cache
__pycache__
